{% extends 'search_system/base.html' %}

{% block content %}
{% verbatim %}
<div ng-app="searchApp" ng-controller="searchController" class="container">
  <div class="starter-template">
  </div>
  <md-content class="md-padding">
      <md-autocomplete
          md-selected-item="searchRequest"
          md-search-text="searchText"
          md-items="item in querySearch()"
          md-item-text="item"
          md-min-length="0"
          placeholder="search">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
      </md-autocomplete>
      <br/>
      <md-button ng-click="search()" class="md-raised">Search</md-button>
    </md-content>
  <div ng-show="isLoading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-linear md-mode="query"></md-progress-linear>
  </div>
  <div infinite-scroll='loadResults()' infinite-scroll-disabled='isBusy' infinite-scroll-distance='1' ng-show="anyResults()">
    <h4>{{resultAmount}} results found</h4>
    <md-list>
      <md-list-item style="height: 100px; width: 100%;" class="md-3-line"  ng-repeat="item in searchResults">
        <div class="md-list-item-text">
          <h3>{{item.Title}}</h3>
          <p class='snippet' ng-bind-html="item.Snippet"></p>
        </div>
        <md-button class="md-secondary" ng-href="{{item.Link}}" ng-attr-target="_blank">Go</md-button>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
    <div ng-show="isBusy" layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  </div>

  {% endverbatim %}
{% endblock %}
